[build]
  publish = "dist"
  command = "npm run build"

[dev]
  framework = "vite"
  port = 8888

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
